
.menuItem{height: 50px; 
    width: 250px;
    background: #b1d37b;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    line-height: 50px; 
}
.menuItem:hover{
    background: green;
    color: rgb(165, 228, 217);
}

.product{
    display: inline-block;
    margin: 10px;
    }

.product>div {
    width: 160px;
    height: 190px;
    text-align: center;
}

.itemImage{
    width: 160px;
    height: 160px;
}

.overlay {
    visibility: hidden;
    position: relative;
    width: 160px;
    height: 60px;
    bottom: 80px;
    background-color: #d1dac3;
}

.product:hover{
    background: #d1dac3;
}

.product:hover .overlay{
    visibility: visible;
}

#header { height: 350px; width: 1000px; margin: auto;}
#logo { height: 300px; width: 300px; margin:auto;}
#banner { height: 300px; width: 600px; padding-left: 50px}

#content { width: 1000px; margin: auto;}
#menu { width: 300px; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

#productList { width: 600px; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    display: inline-block;}

#footer { height: 200px; 
    width: 1000px; 
    margin: auto;
    margin-top: 15px;}