button {
  background-color: rgba(255,255,255,0.2);
  color: green;
  
  margin: 5px;
  border: 2px solid;
  border-color: #4CAF50;
  padding: 3px 5px ;

  cursor: pointer;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}

.menuItem{
    height: 50px; 
    width: 250px;
    background: #b1d37b;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    line-height: 50px; 
}

.menuItem:hover{
    background: green;
    color: rgb(165, 228, 217);
}

.product{
    display: inline-block;
    margin: 10px;
}

.product>div {
    width: 160px;
    height: 190px;
    text-align: center;
}

.itemImage{
    width: 160px;
    height: 160px;
    position: relative;
    top: 0;
}

.overlay {
    visibility: hidden;
    position: relative;
    width: 160px;
    height: 60px;
    bottom: 80px;
    background-color: rgba(209,218,195,0.8);
}

.product:hover{
    background: #d1dac3;
}

.product:hover .overlay{
    visibility: visible;
}

#header { 
    height: 350px; width: 1000px; margin: auto;
}

#logo { 
    height: 300px; width: 300px; margin:auto;
}

#banner { 
    height: 300px; width: 600px; padding-left: 50px
}

#content { 
    width: 1000px; margin: auto;
}

#menu { 
    width: 300px; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

#productView { 
    width: 600px; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 50px;
    display: inline-block;
}

#footer { 
    height: 200px; 
    width: 1000px; 
    margin: auto;
    margin-top: 15px;
}

/* The Modal (background) */
#modal {
  display: none; /* Hidden by default */
  position: fixed;  
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;;
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#submodal {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
#btn-hide-cart {  
  margin:auto;
}
